body {
  background-color: #1f1f1f;
}

h1 {
  font-family: $title-font-family;
  text-align: center;

  span {
    width: 100%;
    display: block;
    line-height: 1.2em;
    &:nth-child(1) {
      font-size: 14vw;
    }
    &:nth-child(2) {
      font-size: 19vw;
      letter-spacing: 4px;
    }
  }
}

.quote {
  margin: 1vh 4vw;
  display: block;
  font-size: 22px;
  font-family: Verdana;
  font-weight: 100;
  line-height: 1.6em;
}

.links {
  $spacing: 11vw;
  position: absolute;
  bottom: $spacing;
  left: $spacing;
  // background-color: orange;
  h3 {
    font-size: 6vw;
    line-height: 1.6em;
    font-family: Georgia;
    font-weight: 100;
  }
}

// Emoji
.emoji.statue-of-liberty {
  // background-color: grey;

  // background-color: yellow;
  position: fixed;
  bottom: -2vw;
  right: -17vw;

  // font-size: 200px;
  // font-size: 30vh;
  // font-size: max(50vh, 50vw);

  // mobile
  // font-size: 290px;
  font-size: 90vw;
  // font-size: 34vh;

  // ipad portrait
  // font-size: 560px;
  // font-size: 70vw;
  // font-size: 54vh;
  color: transparent;

  // desktiouish
  @include liberty-shadow(#b9b9b9);
}

// Emoji
.emoji.flame {

  position: fixed;
  bottom: 77vw;
  right: 42vw;

  font-size: 50px;

}

.test-divider {
  position: absolute;
  height: 100vh;
  width: 0;
  border-left: 50vw solid blue;
  border-right: 50vw solid red;
}
