.flex-center {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/**
  * Text
  */
h1, h2, h3, h4 {
margin: $spacing-unit 0;
}
p {
  margin-top: $spacing-unit;
  + hr {
    margin-top: $spacing-unit;
  }
}

/**
  * Lists
  */
ul,
ol {
  margin-left: $spacing-unit;
  margin-top: $spacing-unit;
  li {
    margin-left: $spacing-unit;
  }
}

/**
 * Site Header
 */

.site-header {
  background-color: black;
  height: $header-height;
  padding: 0 $spacing-unit;
  // border-bottom: solid 1px black;
  overflow: hidden;
 }

 // Emoji
 .nav-title {
  margin-left: 8px;
 }

.site-nav {
  float: right;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: white;
    line-height: 2.2;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    height: $mobile-header-height;
    position: absolute;
    top: 5px;
    right: 5%;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;
  //   width: 90%;
  // height: 80vh;

    label[for="nav-trigger"] {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
      text-align: center;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

// /**
//  * Site footer
//  */
// footer {}

/**
 * Page content
 */
.page-content {
  padding: 0 $spacing-unit;
  flex: 1;

  header {
    margin-top: 6vh;
    margin-bottom: 10vh;
  }
}

.page-heading {
  @include relative-font-size(2);
}


footer {
  height: 180px;
  overflow: hidden;
  .lib {
    font-size: 200px;
    text-align: center;
    margin-left: 30px;
  }
}

