@import "../../styles/App";

.debug.table {
  margin: 1em 2em;
  .color-pallete {
    > div {
      display: flex;
      height: 20px;
      div {
        display: flex;
        flex: 1;
      }
    }
  }
  img.banner {
    width: 900px;
  }
  img.profile {
    width: 300px;

    // filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    // // filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */

    // -webkit-filter: saturate(8);
//   filter: saturate(8);

  filter: blur(5px) grayscale(1);

    // &:hover {
    //   -webkit-filter: grayscale(0);
    //   filter: none;
    // }
  }
}


.senate.yearbook {

  @include for-phone-only {
      .ui.grid > .row {
          padding-top: 0.5em;
          padding-bottom: 0.5em;
      
          > .column {
            padding-left: 0.5em;
            padding-right: 0.5em;
          }
        }
  }
//   .ui.grid > .row {
//     padding-top: 0.5em;
//     padding-bottom: 0.5em;

//     > .column {
//       padding-left: 0.5em;
//       padding-right: 0.5em;
//     }
//   }
}
