@mixin outline($color) {
  outline-width: 10px;
  outline-style: solid;
  outline-color: $color; // <----- :visited
}

@mixin border($color) {
  border-width: 10px;
  border-style: solid;
  border-color: $color; // <----- :visited
}

@mixin background($color) {
  background-color: $color; // <----- :visited
}

// a {
//   &:link {
//   }
//   &:visited {
//   }
//   &:focus {
//   }
//   &:hover {
//   }
// }
