// @function generate-fire($intensity: 4) {

//   $value: '0 0 2px #fefcc9';

//   @for $i from 0 through $intensity {
//     $value: '#{$value} , #{$i * -1}px 0 0 ' + darken($color, $i);

//   }
//   @return unquote($value);

// }

@function generateFire() {
  $value: "0 0 2px #fefcc9";

  $blaze: 7px;
  $value: "#{$value} , #{$blaze} #{-$blaze}  3px #feec85";
  $value: "#{$value} , #{-$blaze} #{$blaze}  3px #feec85";
  $value: "#{$value} , 15px -20px 6px #ffae34";
  $value: "#{$value} , -15px -20px 6px #ffae34";
  $value: "#{$value} , 10px -25px 7px #ec760c";
  $value: "#{$value} , 10px -30px 9px #cd4606";
  $value: "#{$value} , 25px -30px 10px #973716";
  $value: "#{$value} , 60px -60px 8px #451b0e";

  @return unquote($value);
}

@mixin fire() {
  text-shadow: generateFire();
}

// old code

// animation: fire-animation-liberty 2s ease-in 1 forwards;
// animation: fire-animation-original 1s ease-in-out infinite alternate;

//  @keyframes fire-animation-original {
//   0% {
//    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
//     -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
//     0 -80px 70px #973716, 10px -90px 80px #451b0e;
//   }
//   100% {
//    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
//     -20px -20px 40px #feec85, 22px -42px 60px #ffae34, -22px -58px 50px #ec760c,
//     0 -82px 80px #cd4606, 10px -90px 80px #973716;
//   }
//  }

// @keyframes fire-animation-liberty {
//   0% {
//     text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85;
//   }
//   100% {
//     text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 40px #ffae34,
//       -22px -58px 45px #ec760c, 0 -82px 50px #cd4606, 10px -90px 45px #973716;
//   }
// }
