

 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  ul, ol, dl, figure, hr
  %vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
  }
  
  
  
  h1 {
  line-height: 0.8em;
}