@import "src/styles/base/mixins";
@import "src/styles/base/variables";

div.map {
  height: 100%;
  width: 100%;
  display: flex;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;

    .top-bar {
      display: flex;
      background: #090458;
      // flex-grow: 1;
      height: 120px;
      border-bottom: red 20px solid;

      h1 {
        color: white;
        font-family: "Arial Black";
        font-size: 80px;
        margin: 0;
        text-align: center;
        width: 100%;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        line-height: 93px;
      }
    }
    .content {
      display: flex;
      background: orange;
      flex-grow: 1;
      // border: solid 5px blue;
      min-height: 600px !important;

      .main {
        display: flex;
        background: $yellow;
        flex-grow: 1;
        width: 800px; // too wide on ipad
        // width: 800px!important;
        justify-content: center;
        align-items: center;
      }

      .side-bar {
        display: flex;
        background: $yellow;
        flex-grow: 1;
      }
    }

    .bottom-bar {
      display: flex;
      height: 0px;
    }
  }
}

h1.title {
  position: absolute;
  top: -20px;
  left: 10px;
}

// map
svg.map {
  .states {
    fill: #ddd;
    cursor: context-menu; // help good too
  }

  .purple {
    fill: $purple;
  }
  .red {
    fill: $red;
  }
  .blue {
    fill: $blue;
  }

  .visted {
    fill: #aaa;
  }

  .active {
    fill: #000;
    // transform: scale(2); interesting result
  }

  .state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 0.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
    &.thick {
      stroke-width: 10px;
    }
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

.rank.text {
  font-size: 14pt;
  font-weight: 900;
  fill: white;
  text-shadow: 1px 1px 0 #252525, 1px -1px 0 #252525, -1px 1px 0 #252525,
    -1px -1px 0 #252525;
  pointer-events: none;
  &.active {
    display: none;
  }
}
// -----

.legend {
  height: 400px;
  width: 200px;
  position: absolute;
  top: 170px;
  right: 50px;
  padding: 10px;

  @include win95button;

  h1 {
    font-family: Tahoma;
    font-size: 26px;
    letter-spacing: 0.05em;
    background: black;
    color: white;
    margin: -10px -10px 30px -10px;
    padding: 5px 10px;
  }

  p.label {
    margin: 0;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #6d6d6d;
  }
  p.value {
    margin: 0;
    font-family: monospace;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 27px;
  }
}

.tool-tip.wrapper {
  width: 200px;
  height: 300px;
  border: solid 6px #fff;
  top: 40%;
  right: 20%;

  background: #000;
  color: white;
  // box-shadow: #d2d2d2 -19px 18px 11px 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  margin: 15px 30px;
  width: 200px;

  /* this CS forms the triangles */
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    top: 1px;
    border-color: transparent #ffffff63 transparent transparent;
    border-width: 230px 200px 55px 20px;
    pointer-events: none;
  }

  &:after {
    content: "";
    display: block;

    position: absolute;
    right: 377px;
    width: 10px;
    height: 10px;
    top: 229px;
    pointer-events: none;
    border-radius: 10px;
    background: white;
    box-shadow: white 0px 0px 7px 8px;
  }

  h1 {
    font-family: Verdana;
    font-size: 13px;
    letter-spacing: 0.05em;
    background: white;
    color: black;
    margin: 0;
    padding: 0 10px 5px 10px;
    font-weight: 100;
  }

  p.label {
    margin: 0;
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
    color: #b1b1b1;
    text-align: center;
  }
  p.value {
    margin: 0;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    text-align: center;
  }
}
