@import "src/styles/base/mixins";
@import "src/styles/base/variables";

$background-color: $white;
$border-color: #888;
$cell-color: $white;
$header-color: $red;
$text-color: $black;

$border-width: 1px;

div.table {
  background-color: $background-color;
  padding: 1rem;

  table {
    border-spacing: 0px;
    width: 100%;
    // border: $border-width solid $border-color;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th {
      margin: 0;
      padding: 0.5rem;
      border-bottom: 8px solid $red;
      // border-right: $border-width solid $border-color;
      background-color: $white;

      @include text-shadow(black, 3);

      color: $yellow;
      font-family: Tahoma;

      font-size: 25px;
      letter-spacing: -0.01em;
      text-decoration: none;
      font-weight: bold;
      padding: 20px 20px 3px 0px;
      text-align: left;
      span {
        font-size:0.7em;
        width: 1.4em;
        display: inline-block;
        height: 1em;
        margin-left: 0.4em;
      }
    }
    tr {
      &:hover {
        background-color: #eee;
      }
    }
    
    td {
      margin: 0;
      padding: 0.5rem;
      // border-bottom: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
      // background-color: $cell-color;
      color: $text-color;
      font-family: Tahoma;

      &.number {
        font-family: Courier;
        text-align: right;
      }

      :last-child {
        border-right: 0;
      }
    }
  }
}

