<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{ page.meta.title | default: page.title }}</title>

  <!-- Facebook Tags -->
  <meta property="og:title" content="{{ page.facebook.title }}" />
  <meta property="og:description" content="{{ page.facebook.description }}" />
  <meta property="og:image" content="{{ site.url }}{{ page.meta.image }}" />
  <meta property="og:site_name" content="Freedom Torch" />

  <!-- Twitter -->
  <meta name="twitter:site" content="@{{ site.twitter_handle }}" />
  <meta name="twitter:card" content="{{  page.twitter_card_type }}" />
  <meta name="twitter:title" content="{{  page.twitter_title }}" />
  <meta name="twitter:description" content="{{  page.twitter_description }}" />
  <meta name="twitter:image" content="{{ site.url }}{{  page.twitter_image }}" />
  <meta name="twitter:image:alt" content="{{ page.twitter_image_alt }}" />

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

  <!-- Favicons -->
<link rel="icon" type="image/png" sizes="32x32" href="{{ site.icons_dir }}/torch-32.png" />
<link rel="icon" type="image/png" sizes="64x64" href="{{ site.icons_dir }}/face-64.png" />


  {%- include google-analytics.html -%} 
  {%- feed_meta -%}
</head>