body {
  background-color: red;
  background-image: url("https://pbs.twimg.com/profile_images/1154780940226486273/VkOMx-UV_400x400.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
