body {
  margin: 0;
  padding: 0;
  background-color: $blue;
}

.content {
  background-color: $background-color;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
body {
  margin: 0;
  height: 100%;
}
img {
  max-width: 100%;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.internal {
    border-bottom: solid 1px $red;
  }
}
