// Styles that would apply to most any site

//  ----------------------
//   Reset some things
//  ----------------------
body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
:focus {
  outline: none;
}
body {
  margin: 0;
  height: 100%;
}
img {
  max-width: 100%;
}
