// Styles that could be used elsewhere


@import "mixins/fire-text.scss";



$row-spacing: 10px;

table.timeline {
  width: 100%;
  // margin-left: -10px;

  td {
    margin: 0;
    padding: 0;
    // border: solid 1px black;

    &.date {
      // text-align: right;
      // line-height: 1em;
      font-family: Courier;
      // font-weight: bold;
      // font-size: 20px;
      min-width: 100px;
    }
    &.description {
      // @extend .serif-text;
      // padding-left: 5px;

      // line-height: 1.5em;
      // font-weight: 400;
      // color: #444;
    }
    &.emoji {
      // font-size: 1.5em;
      // text-align: center;
      // width: 40px;
    }
  }

  tr.spacer {
    height: $row-spacing;
  }
}

.major-timeline {
  margin-bottom: 25px;
  > * {
    margin: 0;
  }
  .date {
    margin-bottom: -5px;
    font-family: $sans-serif;
    font-weight: bold;
    font-size: min(max(0.5rem, 3vw), 20px);
  }
  .title {
    font-weight: 300;
    font-size: min(max(1rem, 6vw), 32px);
  }
  .summary {
    font-size: min(max(1rem, 4vw), 26px);
  }
  .read-more {
    font-size: min(max(1rem, 5vw), 26px);
  }
}



@mixin indent() {
  background-color: #868686;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(239, 239, 239, 0.78);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.lady-liberty {
  overflow: hidden;
  text-align: right;
}

