

.congress-connections {
  .orange {
    color: orange!important;
  }
  #chart {
    font: 300 36px "Helvetica Neue";
    height: 840px;
    margin: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: -20px;
  }

  #chart > div {
    position: absolute;
    left: 50%;
    margin-left: -400px;
  }

  blockquote {
    margin: 0;
  }

  blockquote:before {
    content: "â€œ";
    position: absolute;
    left: -0.4em;
  }

  blockquote:after {
    content: "â€";
    position: absolute;
  }

  body > ul {
    margin: 0;
    padding: 0;
  }

  .invert {
    background: #1f1f1f;
    color: #dcdccc;
  }

  .invert h2,
  .invert h3 {
    color: #7f9f7f;
  }

  .string,
  .regexp {
    color: #f39;
  }

  .keyword {
    color: #00c;
  }

  .comment {
    color: #777;
    font-style: oblique;
  }

  .number {
    color: #369;
  }

  .class,
  .special {
    color: #1181b8;
  }

  p.note {
    font-size: 12px;
    margin: 5px 5px;
  }

  .keyWrapper {
    position: absolute;
    border: solid 1px #aaa;
    width: 200px;
    height: 140px;
    margin: 0px;
    top: 70px;
    left: 30px;
  }

  .keyWrapper .title {
    background: #ccc;
    padding: 5px 10px;
    margin: 0;
    font-size: 19px;
    font-weight: 500;
  }

  .keyWrapper .legend.item {
    margin: 5px 15px;
    font-size: 17px;
  }

  .keyWrapper .item.friends {
    color: purple;
  }

  .keyWrapper .item.follows {
    color: blue;
  }

  .keyWrapper .item.followed {
    color: orange;
  }

  .setting.tension {
    position: relative;
    font-size: 18px;
    z-index: 9;
  }

  body > svg {
    position: absolute;
    top: -80px;
    left: -160px;
  }

  path.arc {
    cursor: move;
    fill: #fff;
  }

  .node {
    font-size: 12px;
    color: #bbb;
  }

  .node:hover {
    fill: #000;
    font-size: 18px;
    font-weight: 600;
  }

  .link {
    fill: none;
    stroke: #1f77b4;
    stroke-opacity: 0.05;
    pointer-events: none;
  }

  .link.source,
  .link.target {
    stroke-opacity: 1 !important;
    stroke-width: 1px;
  }

  .link.source-target-friends {
    stroke-opacity: 1;
    stroke-width: 1px;
  }

  .link.target {
    stroke: orange;
  }

  .node.target {
    fill: blue;
    font-size: 15px;
  }

  .link.source {
    stroke: blue;
  }

  .node.source {
    fill: orange;
    font-size: 15px;
  }

  .node.source.target {
    fill: purple;
    font-size: 15px;
  }

  .node.source-target-friends {
    fill: pur;
  }

  .link.source-target-friends {
    stroke: purple;
    stroke-opacity: 0.01;
  }

  .legend {
    // background: red;
    text-align: center;
    span {
      margin: 0 2vw;
    }
  }
}
