

h1 {
  background-color: rgba(38, 38, 38, 0.9);
}
h2 {
  background-color: rgba(38, 38, 38, 0.8);
}
h3 {
  background-color: rgba(38, 38, 38, 0.9);
}
h4 {
  background-color: rgba(38, 38, 38, 0.9);
}
h5 {
  background-color: rgba(38, 38, 38, 0.9);
}
p {
  background-color: rgba(38, 38, 38, 0.9);
}
ul {
  background-color: rgba(38, 38, 38, 0.9);
  li {
    background-color: yellow;
  }
}
ol {
  background-color: rgba(38, 38, 38, 0.9);
  li {
    background-color: yellow;
  }
}
h2 {
  background-color: rgba(38, 38, 38, 0.8);
}

blockquote {
  background-color: red;
  p {
    background-color: blue;
  }
}

hr {
  background-color: green;
}

img {
  background-color: purple;
}

a {
  background-color: white;
}