@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

$fonts-path: "../../assets/fonts/";

@font-face {
  font-family: 'Didot';
  src: url($fonts-path + "Didot Regular.ttf") format("truetype");
}


.serif-text {
  font-family: "Neuton";
}
.serif-title {
  font-family: "Didot";
}