
// -----------------------------------

.reset {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

// -----------------------------------

@mixin fadeIn($duration: 1s) {
  opacity: 0;
  animation: fadeInAnimation ease-in $duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// @mixin transition($args...) {
//   -webkit-transition: $args;
//   -moz-transition: $args;
//   -ms-transition: $args;
//   -o-transition: $args;
//   transition: $args;
// }

// -----------------------------------

