// Just in case these are not set....

$base-font-size-min: 16px;
$base-font-size-max: 30px;
$small-time: 500px;
$big-time: 1500px;

// -----------------------------------

@mixin fluid-type(
  $font-min: $base-font-size-min,
  $font-max: $base-font-size-max,
  $screen-min: $small-time,
  $screen-max: $big-time
) {
  font-size: #{$font-min};

  @media only screen and (min-width: #{$screen-min}) {
    font-size: calc(
      #{$font-min} + #{($font-max - $font-min)} * (100vw - #{$screen-min}) / (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}) {
    font-size: #{$font-max};
  }
}

// -----------------------------------

.reset {
  padding: 0;
  margin: 0;
  line-height: 1em;
}

// -----------------------------------

@mixin fadeIn($duration: 1s) {
  opacity: 0;
  animation: fadeInAnimation ease-in $duration;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

// @mixin transition($args...) {
//   -webkit-transition: $args;
//   -moz-transition: $args;
//   -ms-transition: $args;
//   -o-transition: $args;
//   transition: $args;
// }

// -----------------------------------

@mixin tablet() {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    @content;
  }
}

@mixin phone() {
  @media only screen and (max-width: 600px) {
    @content;
  }
}

@mixin for-tablet-only() {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    @content;
  }
}
@mixin for-tablet-portrait-only() {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {
    @content;
  }
}
@mixin for-tablet-landscape-only() {
  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
    @content;
  }
}

// @include liberty-shadow() {
//   @for $i from 1 through 3 {
//     ul:nth-child(3n + #{$i}) {
//       // text
//     }
//   }
// }

// shadows



@function makeLibertyShadow($color) {
  $val: 0px 0px white;


  // Blue flame
  @for $i from 1 through 5 {
    $color2: blue;//lighten($color, $i * 0);
    $y: #{$i}px;
    $x: #{$i+1}px;
    
    $blur: #{$i*0}px;

    $val: #{$val}, #{$color2} $x $y $blur;
  }

  @for $i from 1 through 2 {
    $color2: red;//lighten($color, $i * 0);
    $y: -#{$i}px;
    $x: -#{$i+2}px;
    
    $blur: 0px;//#{$i*0}px;

    $val: #{$val}, #{$color2} $x $y $blur;
  }



  @return $val;
}

@mixin liberty-shadow($color) {
  text-shadow: makeLibertyShadow($color);
}




// @function makeLibertyShadow($color) {
//   $val: 0px 0px white;


//   // Blue flame
//   @for $i from 1 through 50 {
//     $color2: blue;//lighten($color, $i * 0);
//     $y: #{$i*3}px;
//     $x: #{$i}px;
    
//     $blur: #{$i*0}px;

//     $val: #{$val}, #{$color2} $x $y $blur;
//   }

//   @for $i from 1 through 4 {
//     $color2: red;//lighten($color, $i * 0);
//     $y: -#{$i*30}px;
//     $x: -#{$i*10}px;
    
//     $blur: 0px;//#{$i*0}px;

//     $val: #{$val}, #{$color2} $x $y $blur;
//   }



//   @return $val;
// }