

@mixin indent() {

  background-color: #868686;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(239, 239, 239, 0.78);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
 }

 // ----------------------------------------------------

 .huge {
   font-size: max(300px, 60vw);
 }

.lady-liberty {
  border-bottom: solid 1px rgb(235, 235, 235);
  overflow: hidden;
  text-align: right;
  .emoji{
    @include indent();
   margin-bottom: -20vw;
  } 
}

.home {
  .lady-liberty {
    @extend .huge;
    position: fixed;
    bottom: 0px;
    right: -10vw;
    width: 100%;

  }
}
