@import "mixins/fire-text.scss";

@mixin indent() {
  background-color: #868686;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(239, 239, 239, 0.78);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

// ----------------------------------------------------

.huge {
  font-size: max(300px, 60vw);
}

.lady-liberty {
  // border-bottom: solid 1px rgb(235, 235, 235);
  overflow: hidden;
  text-align: right;

  .emoji {
    //  margin-bottom: -20vw;
  }
}
//  ----------------------
//   Home Page
//  ----------------------
.home {
  .lady-liberty {
    @extend .huge;
    @extend .fire;
    position: fixed;
    bottom: 0px;
    right: -10vw;
    width: 100%;
    .emoji {
      margin-bottom: -20vw;
    }
  }
}
//  ----------------------
//   Footer
//  ----------------------

.footer {
  position: relative;
  .lady-liberty {
    font-size: 140px;
    position: absolute;
    bottom: -40px;
    right: 0;
    // line-height: 90px;
    // right: 0;
    // width: 100%;

    .emoji {
      @include indent();
      // @extend .fire;
      //  margin-bottom: -20vw;
    }
  }
}
