//  ----------------------
//   Generic Page
//  ----------------------
.page-wrapper {
  $spacing-unit: 3vw;
  padding: 0 $spacing-unit;
  .footer {
    // background-color: red;
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 2px;
      }
    }
    .liberty-shadow {
      margin: 0px 0 0px 0 !important;
      box-shadow: $background-color 0px 40px 60px 50px,$background-color 0px 160px 120px 90px;
      z-index: 1;
      position: relative;

    }
    .liberty-wrapper {
      position: relative;
      z-index: -1;
    }
  }
}
h1.page-title {
  font-size: 55px;
  // margin-top: 0;
}

//  ----------------------
//   Home Page
//  ----------------------

.home-wrapper {
  $spacing: 11vw;

  .links {
    position: absolute;
    bottom: $spacing;
    left: $spacing;
    p {
      font-size: 4vh;
      line-height: 1em;
      margin: 3vh 0 0 0;
      // font-family: Georgia;
      // font-weight: 100;
    }
  }
}

//  ----------------------
//   Timeline
//  ----------------------

.timeline {
  // border: solid 1px red;

  > p {
    font-family: Courier;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vw;
  }
}

//  ----------------------
//   Post List
//  ----------------------
.posts {
  .post {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
    p {
      font-family: Courier;
      margin: 2px 0;
      font-size: 0.9em;
      &.date {
        min-width: 110px;
        font-weight: bold;
      }
      &.description {
        font-size: 0.9em;
        color: #444;
      }
    }
  }
}
