@import "mixins/media-queries.scss";

//  ----------------------
//   Generic Page
//  ----------------------
.page-wrapper {
  $spacing-unit: 3vw;
  padding: 0 $spacing-unit;
  img {
    border: solid 1px #777;
    box-shadow: rgba(104, 104, 104, 0.15) 0px 0px 10px 2px;
  }
  .footer {
    padding-bottom: 10px;
    ul {
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        margin: 0 9px;
      }
    }
  }
}
h1.page-title {
  font-size: 55px;
}

//  ----------------------
//   Home Page
//  ----------------------

.home {
  $spacing: 11vw;
  ul.links {
    z-index: 100;
    position: absolute;
    bottom: $spacing;
    left: $spacing;

    li {
      font-size: 4vh;
      line-height: 1em;
      margin: 3vh 0 0 0;
      list-style: none;
    }
    @include phone() {
      margin-left: -60px;
      margin-bottom: -10px;
    }
  }
}

//  ----------------------
//   Timeline
//  ----------------------

.timeline {
  > p {
    font-family: Courier;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 3vw;
  }
}

//  ----------------------
//   Post List
//  ----------------------
.posts {
  .post {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1vh;
    p {
      font-family: Courier;
      margin: 2px 0;
      font-size: 0.9em;
      &.date {
        min-width: 110px;
        font-weight: bold;
      }
      &.description {
        font-size: 0.9em;
        color: #444;
      }
    }
  }
}
