@mixin outline($color) {
  outline-width: 10px;
  outline-style: solid;
  outline-color: $color; // <----- :visited
}

@mixin border($color) {
  border-width: 10px;
  border-style: solid;
  border-color: $color; // <----- :visited
}

@mixin background($color) {
  background-color: $color; // <----- :visited
}

// --------------------------------

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

a {
  &:link {
    //  @include outline(yellow);
    //  @include border(blue);
    //  @include background(#ccc);
  }

  &:visited {
    //  @include outline(yellow);
    //  @include border(purple);
    //  @include background(#aaa);
  }

  &:focus {
    // @include outline(yellow);
    // @include border(purple);
    // @include background(#aaa);
  }

  &:hover {
    // @include outline(yellow);
    // @include border(purple);
    // @include background(#aaa);
  }
}

// ------- Layout -------

.site-links {
  a:visited {
    color: white;
  }
}

.site-title {
  margin: 80px 0;

  a {
    display: inline-block;
    text-decoration: underline;
    &:link {
      color: black;
    }
    &:visited {
      color: white;
    }
    &:hover {
      color: black;
    }
  }
}
