
/**
  * Font Size
  */
@mixin fluid-type($font-min:$base-font-size-min, $font-max:$base-font-size-max, $screen-min: $small-time, $screen-max: $big-time) {
  font-size: #{$font-min};

  @media only screen and (min-width: #{$screen-min}) {
    font-size: calc(
      #{$font-min} + #{($font-max - $font-min)} * (100vw - #{$screen-min}) / (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}) {
    font-size: #{$font-max};
  }
}