@mixin indent() {
  background-color: #868686;
  color: transparent;
  text-shadow: 2px 2px 0px rgba(239, 239, 239, 0.78);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

// /* TABLETS PORTRAIT */
// @media only screen and (min-width: 768px) and (orientation: portrait)  {
//   h1 {
//     color: yellow;
//   }
// }

// /* TABLETS LANDSCAPE */
// @media only screen and (min-width: 868px) and (max-width: 1100px) and (orientation: landscape)  {
//   h1 {
//     color: purple;
//   }
// }

// /* ALL OTHER LARGE */
// @media only screen and (min-width: 1100px)  {
//   h1 {
//     color: white;
//   }
// }



// ---- Typography ----



// $sans-serif: Verdana;
// $logo-font: "Didot";


@mixin fontSize($min: 1px, $max: 1px) {
  font-size: min(max(1rem, #{$min}), #{$max});
}

@mixin font($name) {
  $family-name: 'Comic Sans';

  @if($name == 'serif') {
    $family-name: "Neuton";
  }

  font-family: $family-name;
}




$big-time: 1400px;
$small-time: 500px;

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

// Use like this ----->

// $min_width: 320px;
// $max_width: 1200px;
// $min_font: 16px;
// $max_font: 24px;

// html {
//   @include fluid-type($min_width, $max_width, $min_font, $max_font);
// }

@mixin fluid-type1($font-min, $font-max, $screen-min, $screen-max) {
  font-size: #{$font-min}px;

  @media only screen and (min-width: #{$screen-min}px) {
    font-size: calc(
      #{$font-min}px + #{($font-max - $font-min)} * (100vw - #{$screen-min}px) / (#{$screen-max} - #{$screen-min})
    );
  }

  @media only screen and (min-width: #{$screen-max}px) {
    font-size: #{$font-max}px;
  }
}


@mixin outline($color) {
  outline-width: 10px;
  outline-style: solid;
  outline-color: $color; // <----- :visited
}

@mixin border($color) {
  border-width: 10px;
  border-style: solid;
  border-color: $color; // <----- :visited
}

@mixin background($color) {
  background-color: $color; // <----- :visited
}

// a {
//   &:link {
//   }
//   &:visited {
//   }
//   &:focus {
//   }
//   &:hover {
//   }
// }


@mixin phone($mode: "any") {
  @media only screen and (max-width: 760px) {
    @media screen and (orientation: portrait) {
      @if $mode == "portrait" {
        @content;
      }
    }
    @media screen and (orientation: landscape) {
      @if $mode == "landscape" {
        @content;
      }
    }
    @if $mode == "any" {
      @content;
    }
  }
}

// /* SMALL PHONE PORTRAIT */
// @media only screen and (min-width: 375px) and (max-width: 413px) {
//   h1 {
//     color: orange;
//   }
// }

// /* BIG PHONE PORTRAIT */
// @media only screen and (min-width: 414px) and (max-width: 417px) {
//   h1 {
//     color: green;
//   }
//   p {
//     color: yellow;
//   }
// }

// /* PHONE LANDSCAPE */
// @media only screen and (max-width: 870px) and (orientation: landscape) {
//   p {
//     background-color: blue;
//   }
// }

// /* TABLETS PORTRAIT */
// @media only screen and (min-width: 768px) and (orientation: portrait)  {
//   h1 {
//     color: yellow;
//   }
// }

// /* TABLETS LANDSCAPE */
// @media only screen and (min-width: 868px) and (max-width: 1100px) and (orientation: landscape)  {
//   h1 {
//     color: purple;
//   }
// }

// /* ALL OTHER LARGE */
// @media only screen and (min-width: 1100px)  {
//   h1 {
//     color: white;
//   }
// }


// @function generate-fire($intensity: 4) {

//   $value: '0 0 2px #fefcc9';

//   @for $i from 0 through $intensity {
//     $value: '#{$value} , #{$i * -1}px 0 0 ' + darken($color, $i);

//   }
//   @return unquote($value);

// }

@function generateFire() {
  $value: "0 0 2px #fefcc9";

  $blaze: 7px;
  $value: "#{$value} , #{$blaze} #{-$blaze}  3px #feec85";
  $value: "#{$value} , #{-$blaze} #{$blaze}  3px #feec85";
  $value: "#{$value} , 15px -20px 6px #ffae34";
  $value: "#{$value} , -15px -20px 6px #ffae34";
  $value: "#{$value} , 10px -25px 7px #ec760c";
  $value: "#{$value} , 10px -30px 9px #cd4606";
  $value: "#{$value} , 25px -30px 10px #973716";
  $value: "#{$value} , 60px -60px 8px #451b0e";

  @return unquote($value);
}

@mixin fire() {
  text-shadow: generateFire();
}

// old code

// animation: fire-animation-liberty 2s ease-in 1 forwards;
// animation: fire-animation-original 1s ease-in-out infinite alternate;

//  @keyframes fire-animation-original {
//   0% {
//    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85,
//     -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606,
//     0 -80px 70px #973716, 10px -90px 80px #451b0e;
//   }
//   100% {
//    text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9,
//     -20px -20px 40px #feec85, 22px -42px 60px #ffae34, -22px -58px 50px #ec760c,
//     0 -82px 80px #cd4606, 10px -90px 80px #973716;
//   }
//  }

// @keyframes fire-animation-liberty {
//   0% {
//     text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85;
//   }
//   100% {
//     text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #fefcc9, -20px -20px 40px #feec85, 22px -42px 40px #ffae34,
//       -22px -58px 45px #ec760c, 0 -82px 50px #cd4606, 10px -90px 45px #973716;
//   }
// }

@include phone() {
  p {
    // color: red;
    font-size: 26px;
  }
}

@include phone("landscape") {
  p {
    color: blue;
  }
}

@include phone("portrait") {
  p {
    // color: yellow;
  }
}
