
nav.site {
  border-top: solid 5px $blue;

  padding-bottom: 0;
  padding-top: 0;
  padding-left: $content-padding;
  padding-right: $content-padding;


  ul {

    float: right;
    padding: 0px;
    margin: 0;
    li {

      float: left;
      list-style: none;
      padding: 6px 0;
      margin: 0 5px;
      font-size: 17px;
      &:first-child {
        font-weight: bold;

      }
      a {
        color: black;
        font-family: $logo-font;
        
        
      }
    }
  }
}
