$blue: blue;
$purple: purple;
$yellow: yellow;
$red: red;
$orange: orange;
$green: green;
$grey: #e0e0e0;

$background-color: $grey;
$content-padding: 1em;

@import "shared";

@import "base";
@import "typography";
@import "layout";

@import "nav";
@import "footer";

@import "congress-connections";