@include for-tablet-portrait-up {
  body {
    background-color: white;
  }

  .ui.container {
    width: 750px;
  }
}

@include for-tablet-landscape-up {
  body {
    background-color: white;
  }
  .ui.container {
    width: 950px;
  }
}

@include for-phone-only {
  body {
    background-color: white;
  }

  .ui.container {
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}

@include for-desktop-up {
  body {
    background-color: white;
  }
}

@include for-big-desktop-up {
  body {
    background-color: white;
  }
}
