h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;

  &.center {
    text-align: center;
  }
}

h2.ui.header {
  font-family: $sans-serif;
    letter-spacing: -0.022em;
    font-weight: 600;
    line-height: 1.18;
    font-size: 28px;
    margin-bottom: 0.15em;

}
h3.ui.header {
  font-family: $sans-serif;
    letter-spacing: -0.022em;
    font-weight: 600;
    line-height: 1.18;
    font-size: 22px;
    margin-bottom: 0.15em;
}

h5 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 10px 0 40px 0;
  color: #333;
}

p {
  font-family: Georgia;
  font-size: 1.2em;
  line-height: 1.5em;
  letter-spacing: 0.01em;
  margin-bottom: $paragraph-spacing;

  &:last-child {
    margin-bottom: 0;
  }
}

.number {
  font-family: "Courier New";

  &.green {
    color: #00bb29;
  }
  &.bold {
    font-weight: 900;
    font-family: "Courier";
    font-size: 1.1em;
  }
}

// TITLE: The Congress Connection

@mixin logo-font {
  $min_width: 340px;
  $max_width: 1000px;
  $min_font: 22px;
  $max_font: 60px;

  font-family: $chomsky;
  color: $light-black;
  padding: 0;
  line-height: 1em;
  letter-spacing: 0.02em;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}
