h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;

  &.center {
    text-align: center;
  }
}

h5 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 0.05em;
  margin: 10px 0 40px 0;
  color: #333;
}

p {
  font-family: Georgia;
}

// TITLE: The Congress Connection

@mixin logo-font {
  $min_width: 320px;
  $max_width: 1000px;
  $min_font: 22px;
  $max_font: 60px;

  font-family: $chomsky;
  color: $light-black;
  // margin: 10px 0 30px;
  padding: 0;
  line-height: 1em;
  letter-spacing: 0.02em;

  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

