@import "../../styles/App";

$footer-height: 100px;

@keyframes pulse {
  0% {
    transform: scale(1.7, 1.7) skew(0deg, 0deg);
  }

  25% {
    transform: scale(1.72, 1.7) skew(0deg, 2deg);
  }

  50% {
    transform: scale(1.74, 1.7) skew(0deg, 0deg);
  }
  75% {
    transform: scale(1.72, 1.7) skew(0deg, -2deg);
  }
  100% {
    transform: scale(1.7, 1.7) skew(0deg, 0deg);
  }
}

html,
body {
  height: 100%;
  position: relative;
}
.app-wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: solid 1px $light-gray;
  padding:14px 0;
  p {
    font-family: Verdana;
    text-align: center;
    color: #464646;
    font-size: 12px;
    font-weight: 500;

    span.flag {
      display: inline-block;
      margin: 0px 6px 0px 0px;
      // transform: scale(1.7, 1.7) skew(0deg, 0deg);

      &.waving {
        // animation: 2s ease infinite pulse;
      }
    }
  }
}
