@import "../../styles/App";

$footer-height: 100px;

@keyframes pulse {
  0% {
    transform: scale(1.7,1.7) skew(0deg, 0deg);
  }

  25% {
    transform: scale(1.75,1.7) skew(0deg, 3deg);
  }

  50% {
    transform: scale(1.8,1.7)skew(0deg, 0deg);
  }
  75% {
    transform: scale(1.75,1.7) skew(0deg, -2deg);
  }
  100% {
    transform: scale(1.7,1.7) skew(0deg, 0deg);
  }
}

html,
body {
  height: 100%;
  position: relative;
}
.app-wrapper {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: $footer-height;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // border-top: solid 1px $gray;
  padding: 40px;
  p {
    text-align: center;
    color: $light-black;

    span.flag {
      display: inline-block;
      margin: 0px 16px 0px 0px;
      transform: scale(1.7,1.7) skew(0deg, 0deg);

      &.waving {
        
        animation: 1s ease infinite pulse;
        
      }
    }
  }
}
