---
layout: default
---

<div class="congress-connections">
  {{ content }}

  <div class="legend">
    <p>
      <span style="color:orange">Follower</span>
      <span style="color:blue">Followed</span>
      <span style="color:purple">Friends</span>
    </p>
  </div>

  <div id="chart"></div>

</div>

<script type="text/javascript" src="{{ site.url }}/assets/js/d3.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/lodash.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/d3.layout.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/packages.js"></script>
<script type="text/javascript" src="{{ site.url }}/assets/js/senate.js"></script>