html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Remove weird border from focus elements
:focus {
  outline: none;
}

body {
  height: 100%;
  margin: 0;
  // -webkit-text-size-adjust: 100%; // might need for ipad
}

#root {
  height: 100%;
}

.wrapper {
  height: 100%;
}

// Pad in portrait & landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    // background: red;

  }
}

// iPad in landscape
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
  body {
    // background: blue;
    
  }
}

// iPad in portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
  body {
    // background: yellow;
    
  }
}
