// // -----------------------------------------------------------------------------
// // This file contains all application-wide Sass mixins.
// // -----------------------------------------------------------------------------

// @mixin flex($j: center, $a: center, $d: row) {
//     display: flex;
//     justify-content: $j;
//     align-items: $a;
//     flex-direction: $d;
//   }
  
//   @mixin transition($args...) {
//     -webkit-transition: $args;
//     -moz-transition: $args;
//     -ms-transition: $args;
//     -o-transition: $args;
//     transition: $args;
//   }
  
  
//   // ---------------------------
//   //         Text
//   // ---------------------------
  
//   @mixin link-size {
//     // font-size: 15px; //maxx(2px,10vw)
//     font-size: calc(1vw + 1vh + .5vmin);
//   }
  
//   @mixin meta {
//     font-family: $work-font;
//     font-size: 12px;
//     color: $meta-gray;
//     font-weight: 200;
//   }
  
  
//   @mixin cursive {
//     font-family: $cursive-font;
//   }
  
//   @mixin serif {
//     font-family: $arvo-font;
//   }
  
//   @mixin sans-serif {
//     font-family: $work-font;
//     color: $charcoal;
//     font-weight: 200;
//   }
  
  
//   /// Event wrapper
//   /// @author Harry Roberts
//   /// @param {Bool} $self [false] - Whether or not to include current selector
//   /// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
//   @mixin on-event($self: false) {
//     @if $self {
//       &,
//       &:hover,
//       &:active,
//       &:focus {
//         @content;
//       }
//     } @else {
//       &:hover,
//       &:active,
//       &:focus {
//         @content;
//       }
//     }
//   }
  
//   /// Make a context based selector a little more friendly
//   /// @author Hugo Giraudel
//   /// @param {String} $context
//   @mixin when-inside($context) {
//     #{$context} & {
//       @content;
//     }
//   }
  