
h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;

  &.center {
    text-align: center;
  }
}


h5 {
  font-size: 25px;
    font-weight: normal;
    letter-spacing: 0.05em;
    margin: 10px 0 40px 0;
    color: #333;
}


