// @import url('https://fonts.googleapis.com/css?family=Arvo|Work+Sans:200,300,400,500,700|Londrina+Shadow|Inconsolata:400,700|Homemade+Apple|Fugaz+One|Monoton');


// h2,
// h3,
// h4,
// h5,
// p,
// ul {
//   margin: 0;
//   padding: 0;
// }

// h1 {
//   font-family: $work-font;
//   color: $charcoal;
//   font-weight: 600;
//   font-size: 2.5em;
//   margin: 0.67em 0 0 0;
//   &.page-title {
//     font-size: 3.1em;
//     @media screen and (max-width: 500px) {
//       font-size: 2em;
//     }
//   }
// }

// h2 {
//   font-family: $work-font;
//   color: $charcoal;
//   font-weight: 600;
//   font-size: 2em;
//   margin: 0 0 0em;
//   width: 100%;
//   @media screen and (max-width: 500px) {
//     font-size: 1.5em;
//   }
// }

// h3 {
//   font-family: $work-font;
//   color: $charcoal;
//   font-weight: 600;
//   font-size: 1.5em;
//   margin: 0.67em 0 0 0;
// }

// h4 {
//   font-family: $work-font;
//   color: $charcoal;
//   font-weight: 600;
//   font-size: 1.5em;
//   margin: 0.67em 0 0 0;
//   a {
//     color: $blue;
//     text-decoration: underline;
//   }
// }

// p {
//   font-family: $text-font;
//   font-size: 19px;
//   font-style: normal;
//   font-weight: 400;
//   line-height: 1.4em;
//   color: #000000bf;
// }

// // Links

// a {
//   color: inherit;
//   text-decoration: none;

//   &.dude {
//     line-height: 1.5em;
//     border-bottom: solid $link-border-size transparent;
//   }
//   &:hover {
//     border-bottom: solid $link-border-size white;
//     text-decoration: underline;
//   }
// }

// pre {
//   white-space: pre-wrap;
//   white-space: -moz-pre-wrap;
//   white-space: -o-pre-wrap;
//   word-wrap: break-word;
//   font-family: Courier, "New Courier", monospace;
//   font-size: 15px;
//   border-radius: 5px;
//   -moz-border-radius: 5px;
//   -webkit-border-radius: 5px;
//   margin: 1em 0;
//   background-color: #001628;
//   color: #f5d67b;
//   padding: 30px 20px;
//   line-height: 1.5em;
// }
