@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");

// Fonts
$wacky: "Monoton", cursive;

// Colors
$white: #fff;
$gray: #c3c3c3;
$black: #000;

$yellow: #ffcd00;
$purple: #6f006f;
$red: #d81c1c;

$blue: #000085;
$blue76: #061fab;

$green: #00cbd7;
$orange: #ff7000;
