@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');

// Fonts
$wacky: 'Monoton', cursive;



// Colors
$white: #FBFEF2;
$yellow: #FFCD00;
$purple: #6f006f;
$red: #D81C1C;;

$blue: #000085;
$blue76: #061FAB;

$green: #00CBD7;
$orange: #FF7000;

$gray: #C3C3C3;