// ---------------------------
//         Fonts
// ---------------------------

// $arvo-font:   'Arvo', serif;
// $work-font:   'Work Sans', sans-serif;
// $text-font:   'Inconsolata', 'sans-serif';
// $shadow-font: 'Londrina Shadow', cursive;
// $cursive-font: 'Homemade Apple', cursive;
// $pattern-font: 'Monoton', cursive;
// $vapor-font:'Fugaz One', cursive;

// ---------------------------
//         Colors
// ---------------------------

$white: #FBFEF2;
$yellow: #FFCD00;
$dark-blue: #3F51B4;
$purple: #CBCBFF;
$red: #FF003D;
$blue: #0D3762;
$green: #00CBD7;
$orange: #FF7000;
